name: Build Android APK

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          zip unzip openjdk-17-jdk \
          libffi-dev libssl-dev \
          libsqlite3-dev libbz2-dev \
          libncurses5-dev libncursesw5-dev \
          libreadline-dev liblzma-dev \
          libgdbm-dev zlib1g-dev \
          libstdc++6
    
        pip install --upgrade pip
        pip install cython buildozer


    - name: Build with Buildozer
      run: |
        yes | buildozer android debug
      continue-on-error: true

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: NetManager-APK
        path: bin/*.apk
